<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <!-- Your main content goes here -->
    </main>
    <footer>
        <div class="footer-content">
            <img src="assets/LopezLogo.png" class="footer-logo-section" />

            <div class="footer-introduction-section">
                <h6>About Brgy. Guihay</h6>
                <p>
                    Guihay is a barangay in the municipality of Lopez, in the province of Quezon. 
                    Its population as determined by the 2020 Census was 1,638. 
                    This represented 1.73% of the total population of Lopez.
                </p>
                <h6>Republic of the Philippines</h6>
                <p>All content is in the public domain unless otherwise stated.</p>
            </div>

            <div class="footer-government-links">
                <h6>GOVERNMENT LINKS:</h6>
                <ul>
                    <li>Office of the President</li>
                    <li>Office of the Vice President</li>
                    <li>Senate of the Philippines</li>
                    <li>House of Representatives</li>
                    <li>Supreme Court</li>
                    <li>Court of Appeals</li>
                    <li>Sandiganbayan</li>
                    <li>Municipality of Lopez, Quezon</li>
                </ul>
            </div>

            <div class="contact-info">
                <h6>CONTACT US</h6>
                <p>Brgy. Guihay Lopez Quezon</p>
            </div>

            <div class="footer-department-section">
              <h6>MDRRMO Tel: (420) 717-4364 | MDRRMO Mobile: 0909 341 0636</h6>
              <h6>PNP Tel: (042) 326-1269 | PNP Mobile: 0908 489 8918</h6>
              <h6>BFP Tel: (042) 717-4459 | BFP Mobile: 09303271448</h6>
          </div>
            <img src="assets/logo.png" class="footer-logo-section2" />
        </div>
    </footer>
</body>
</html>
